@model TMFadmin.Models.RevenueManager
@{
    string mySorting=(string)ViewData["mySorting"];
    string[] names = ViewData["names"] as string[];
    var sortedList = new List<Sponsor>();
    if(names!=null){
        sortedList = Model.sortSponsorsByMe(mySorting, names);
                }else {

                    sortedList = Model.sortSponsorsByMe(mySorting);
                }
}
<div class="text-center" style="margin-top: 100px;">
    <h1 class="display-4">Contacts</h1>
    <table class="table table-hover table-striped" style="margin-top: 40px;">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    <a class="sort-link" asp-controller="Home" asp-action="ViewSponsors" asp-route-mySorting="@(mySorting == "id_asc" ? "id_desc" : "id_asc")">#</a>
                    <i class="sort-icon fas @(mySorting == "id_asc" ? "fa-arrow-alt-circle-down" : "") @(mySorting == "id_desc" ? "fa-arrow-alt-circle-up" : "")"></i>
                </th>
                <th scope="col">
                    <a class="sort-link" asp-controller="Home" asp-action="ViewSponsors" asp-route-mySorting="@(mySorting == "name_asc" ? "name_desc" : "name_asc")">Name (Company/Individual)</a>
                    <i class="sort-icon fas @(mySorting == "name_asc" ? "fa-arrow-alt-circle-down" : "") @(mySorting == "name_desc" ? "fa-arrow-alt-circle-up" : "")"></i>
                </th>
                <th scope="col">
                    <a class="sort-link" asp-controller="Home" asp-action="ViewSponsors" asp-route-mySorting="@(mySorting == "phone_asc" ? "phone_desc" : "phone_asc")">Phone</a>
                    <i class="sort-icon fas @(mySorting == "phone_asc" ? "fa-arrow-alt-circle-down" : "") @(mySorting == "phone_desc" ? "fa-arrow-alt-circle-up" : "")"></i>
                </th>
                <th scope="col">
                    <a class="sort-link" asp-controller="Home" asp-action="ViewSponsors" asp-route-mySorting="@(mySorting == "fax_asc" ? "fax_desc" : "fax_asc")">Fax</a>
                    <i class="sort-icon fas @(mySorting == "fax_asc" ? "fa-arrow-alt-circle-down" : "") @(mySorting == "fax_desc" ? "fa-arrow-alt-circle-up" : "")"></i>
                </th>
                <th scope="col">
                    <a class="sort-link" asp-controller="Home" asp-action="ViewSponsors" asp-route-mySorting="@(mySorting == "email_asc" ? "email_desc" : "email_asc")">Email</a>
                    <i class="sort-icon fas @(mySorting == "email_asc" ? "fa-arrow-alt-circle-down" : "") @(mySorting == "email_desc" ? "fa-arrow-alt-circle-up" : "")"></i>
                </th>
                <th scope="col">
                    <a class="sort-link" asp-controller="Home" asp-action="ViewSponsors" asp-route-mySorting="@(mySorting == "activity_asc" ? "activity_desc" : "activity_asc")">Activity</a>
                    <i class="sort-icon fas @(mySorting == "activity_asc" ? "fa-arrow-alt-circle-down" : "") @(mySorting == "activity_desc" ? "fa-arrow-alt-circle-up" : "")"></i>
                </th>
                <th scope="col">
                    <a class="sort-link" asp-controller="Home" asp-action="ViewSponsors" asp-route-mySorting="@(mySorting == "notes_asc" ? "notes_desc" : "notes_asc")">Notes</a>
                    <i class="sort-icon fas @(mySorting == "notes_asc" ? "fa-arrow-alt-circle-down" : "") @(mySorting == "notes_desc" ? "fa-arrow-alt-circle-up" : "")" style=""></i>
                </th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            @{  
                if(names!=null){
                    foreach(var name in names){
                    <b>@name</b>
                    }
                }
                foreach(var item in sortedList)
                {
                    <tr>
                        <td style="max-width: 30px;">@item.sponsorId</td>
                        <td>@item.company</td>
                        <td>@item.phone</td>
                        <td>@item.fax</td>
                        <td>@item.email</td>
                        <td>@item.activity</td>
                        <td style="max-width: 180px;">@item.notes</td>
                        <td>
                            <form method="post">
                                <label class="ico-button"><i class="far fa-eye" style="font-size:20px;"></i><input type="submit" asp-controller="Home" asp-action="ViewSponsor" value="@item.sponsorId" name="mySponsorId" hidden></label>
                                <label class="ico-button"><i class="fas fa-pencil-alt" style="font-size:20px;"></i><input type="submit" asp-controller="Home" asp-action="EditSponsor" value="@item.sponsorId" name="mySponsorId" hidden></label>
                                <label class="ico-button"><i class="fas fa-trash-alt" style="font-size:20px;"></i><input type="submit" asp-controller="Home" asp-action="DeleteSponsor" value="@item.sponsorId" name="mySponsorId" hidden></label>
                            </form>
                            
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

@{ 
    List<string> filterListName = new List<string>();
    List<string> filterListPhone = new List<string>();
    List<string> filterListEmail = new List<string>();
    
    <a href="#" class="filter-menu-toggle">FILTER</a>
    <div id="filter-menu" class="debugFb filter-menu" style="display: none">
    
    <div class="container">
        <a href="#" class="filter-menu-toggle">Back</a>
        <a class="" asp-controller="Home" asp-action="ViewSponsors">Reset</a>
    
        <h4>Filter</h4>
        <hr>

        <form asp-controller="Home" asp-action="FilterSponsors" method="post" class="filter-menu-form--mod">

            @foreach(var item in sortedList){
                if(!filterListName.Contains(@item.company)){
                    filterListName.Add(@item.company);
                    filterListName.Sort();
                }

                if(!filterListPhone.Contains(@item.phone)){
                    filterListPhone.Add(@item.phone);
                    filterListPhone.Sort();
                }

                if(!filterListEmail.Contains(@item.email)){
                    filterListEmail.Add(@item.email);
                    filterListEmail.Sort();
                }
            }
            
            <h5>Name</h5>
            @for(var i = 0; i < filterListName.Count;i++){

                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="name[]" id="name-@i" value="@filterListName[i]">
                        @filterListName[i]
                    </label>
                </div>
            }
            <hr>

            <h5>Phone</h5>
            @for(var i = 0; i < filterListPhone.Count;i++){

                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="phone[]" id="phone-@i" value="@filterListPhone[i]">
                        @filterListPhone[i]
                    </label>
                </div>
            }
            <hr>

            <h5>Email</h5>
            @for(var i = 0; i < filterListEmail.Count;i++){

                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="email[]" id="email-@i" value="@filterListEmail[i]">
                        @filterListEmail[i]
                    </label>
                </div>
            }
            <hr>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    </div>
}

</div>

