@model TMFadmin.Models.RevenueManager

@{
    // store sorting and filtering data locally
    string mySorting=ViewData["mySorting"] as string;
    string[] filteredDates = ViewData["date"] as string[];
    string[] filteredNotes = ViewData["notes"] as string[];
    string[] filteredReceipt = ViewData["receipt"] as string[];
    string[] filteredAmount = ViewData["amount"] as string[];
    string[] filteredFundId = ViewData["fundId"] as string[];

    string csvExportString = "";
    // declare local sorted and filtered lists
    var sortedList = new List<Donation>();
    var filteredList = new List<Donation>();

    // get sorted list 
    sortedList = Model.sortDonationsByMe(mySorting);

    // check for posted filters, get filtered list. if no filters posted, build default filter to show all list entries
    if(filteredDates!=null){
        // replace 'on' values left from post in filter list with null
        filteredDates = Model.convertOnToNull(filteredDates);
        filteredNotes = Model.convertOnToNull(filteredNotes);
        filteredReceipt = Model.convertOnToNull(filteredReceipt);
        filteredAmount = Model.convertOnToNull(filteredAmount);
        filteredFundId = Model.convertOnOrNullToEmpty(filteredFundId);
        // filter sorted list according to filtering parameters
        filteredList = Model.filterDonationList(sortedList, filteredDates, filteredNotes, filteredReceipt
                                                , filteredAmount, filteredFundId);
    }else{
        // create new filtered results lists
        filteredDates = new string[sortedList.Count];
        filteredNotes = new string[sortedList.Count];
        filteredReceipt = new string[sortedList.Count];
        filteredAmount = new string[sortedList.Count];
        filteredFundId = new string[sortedList.Count];
        // populate filter lists with all results in sorted list 
        for(var i = 0; i < sortedList.Count; i++){
            filteredDates[i] = sortedList[i].date.ToString();
            filteredNotes[i] = sortedList[i].notes;
            filteredReceipt[i] = sortedList[i].receipt.ToString();
            filteredAmount[i] = sortedList[i].amount.ToString();
            filteredFundId[i] = sortedList[i].fundId.ToString();
        }

        // bypass filtering, make filter list equivalent to sorted list
        filteredList = sortedList;
    }
    // create csv string from filtered list
    csvExportString = Model.createCsvString(filteredList); 
}






<div class="text-center" style="margin-top: 100px;">
    <h1 class="display-4">Donations</h1>

    <a href="#" class="filter-menu-toggle function-links">FILTER</a>    
    <a href="@Url.Action("ExportCsv", "Home", new { myStringToExport = csvExportString , myStringToName = "Donations"})" class="function-links">EXPORT</a>
    
    <table class="table table-hover table-striped" style="margin-top: 40px;">
        <form asp-controller="Home" asp-action="ViewDonations" method="post" class="">
            @{
                if(filteredDates!=null){
                    foreach(var item in filteredDates){
                    <input type="hidden" name="date[]" id="date-@item" value="@item">
                    }
                }
                if(filteredNotes!=null){
                    foreach(var item in filteredNotes){
                    <input type="hidden" name="notes[]" id="notes-@item" value="@item">
                    }
                }
                if(filteredReceipt!=null){
                    foreach(var item in filteredReceipt){
                    <input type="hidden" name="receipt[]" id="receipt-@item" value="@item">
                    }
                }
                if(filteredAmount!=null){
                    foreach(var item in filteredAmount){
                    <input type="hidden" name="amount[]" id="amount-@item" value="@item">
                    }
                }
                if(filteredFundId!=null){
                    foreach(var item in filteredFundId){
                    <input type="hidden" name="fundId[]" id="fundId-@item" value="@item">
                    }
                }
            }


        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    <button type=submit class="sort-link" asp-controller="Home" asp-action="ViewDonations" asp-route-mySorting="@(mySorting == "id_asc" ? "id_desc" : "id_asc")">#</button>
                    <i class="sort-icon fas @(mySorting == "id_asc" ? "fa-arrow-alt-circle-down" : "") @(mySorting == "id_desc" ? "fa-arrow-alt-circle-up" : "")"></i>
                </th>
                <th scope="col">
                    <button type=submit class="sort-link" asp-controller="Home" asp-action="ViewDonations" asp-route-mySorting="@(mySorting == "date_asc" ? "date_desc" : "date_asc")">Date</button>
                    <i class="sort-icon fas @(mySorting == "date_asc" ? "fa-arrow-alt-circle-down" : "") @(mySorting == "date_desc" ? "fa-arrow-alt-circle-up" : "")"></i>
                </th>
                <th scope="col">
                    <button type=submit class="sort-link" asp-controller="Home" asp-action="ViewDonations" asp-route-mySorting="@(mySorting == "notes_asc" ? "notes_desc" : "notes_asc")">Notes</button>
                    <i class="sort-icon fas @(mySorting == "notes_asc" ? "fa-arrow-alt-circle-down" : "") @(mySorting == "notes_desc" ? "fa-arrow-alt-circle-up" : "")"></i>
                </th>
                <th scope="col">
                    <button type=submit class="sort-link" asp-controller="Home" asp-action="ViewDonations" asp-route-mySorting="@(mySorting == "receipt_asc" ? "receipt_desc" : "receipt_asc")">Receipt Sent</button>
                    <i class="sort-icon fas @(mySorting == "receipt_asc" ? "fa-arrow-alt-circle-down" : "") @(mySorting == "receipt_desc" ? "fa-arrow-alt-circle-up" : "")"></i>
                </th>
                <th scope="col">
                    <button type=submit class="sort-link" asp-controller="Home" asp-action="ViewDonations" asp-route-mySorting="@(mySorting == "amount_asc" ? "amount_desc" : "amount_asc")">Amount</button>
                    <i class="sort-icon fas @(mySorting == "amount_asc" ? "fa-arrow-alt-circle-down" : "") @(mySorting == "amount_desc" ? "fa-arrow-alt-circle-up" : "")"></i>
                </th>
                <th scope="col">
                    <button type=submit class="sort-link" asp-controller="Home" asp-action="ViewDonations" asp-route-mySorting="@(mySorting == "fund_asc" ? "fund_desc" : "fund_asc")">Fund</button>
                    <i class="sort-icon fas @(mySorting == "fund_asc" ? "fa-arrow-alt-circle-down" : "") @(mySorting == "fund_desc" ? "fa-arrow-alt-circle-up" : "")"></i>
                </th>
                <th scope="col">Options</th>
            </tr>

        </thead>
        </form>
        <tbody>
            @{
                foreach (var item in filteredList)
                {
                    <tr>
                        <td>@item.donId</td>
                        <td>@item.date</td>
                        <td>@item.notes</td>
                        <td>@item.receipt</td>
                        <td style="text-align: left;">$@item.amount</td>
                        <td>@item.fundId</td>
                        <td>
                            <form method="post">
                                <label class="ico-button"><i class="far fa-eye" style="font-size:20px;"></i><input type="submit" asp-controller="Home" asp-action="ViewDonation" value="@item.donId" name="myDonId" hidden></label>
                                <label class="ico-button"><i class="fas fa-pencil-alt" style="font-size:20px;"></i><input type="submit" asp-controller="Home" asp-action="EditDonation" value="@item.donId" name="donId" hidden></label>
                                <label class="ico-button"><i class="fas fa-trash-alt" style="font-size:20px;"></i><input type="submit" asp-controller="Home" asp-action="DeleteDonation" value="@item.donId" name="myDonId" hidden></label>
                            </form>
                            
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>


@{ 
    List<string> filterListDate = new List<string>();
    List<string> filterListNotes = new List<string>();
    List<string> filterListReceipt = new List<string>();
    List<string> filterListAmount = new List<string>();
    List<string> filterListFundId = new List<string>();

    
    <div id="filter-menu" class="debugFb filter-menu" style="display: none">
        
        <div class="container filter-menu-container">
            <a href="#" class="filter-menu-toggle">Back</a>
            <a class="" asp-controller="Home" asp-action="ViewDonations">Reset</a>
        
            <h4>Filter</h4>
            <hr>

            <form asp-controller="Home" asp-action="ViewDonations" method="post" class="filter-menu-form--mod">
                <input type="hidden" name="mySorting" value="@mySorting">
                @foreach(var item in sortedList){
                    if(!filterListDate.Contains(@item.date.ToString())){
                        filterListDate.Add(@item.date.ToString());
                        filterListDate.Sort();
                    }

                    if(!filterListNotes.Contains(@item.notes)){
                        filterListNotes.Add(@item.notes);
                        filterListNotes.Sort();
                    }
                    if(!filterListReceipt.Contains(@item.receipt.ToString())){
                        filterListReceipt.Add(@item.receipt.ToString());
                        filterListReceipt.Sort();
                    }

                    if(!filterListAmount.Contains(@item.amount.ToString())){
                        filterListAmount.Add(@item.amount.ToString());
                        filterListAmount.Sort();
                    }

                    if(!filterListFundId.Contains(@item.fundId.ToString())){
                        filterListFundId.Add(@item.fundId.ToString());
                        filterListFundId.Sort();
                    }
                }
                
                <h5>Date</h5>
                @for(var i = 0; i < filterListDate.Count;i++){

                    <div class="form-check form-check-inline">
                        <label class="form-check-label filter-menu-label">
                            <input @(filteredDates.Contains(@filterListDate[i]) ? "checked" : "") class="form-check-input" type="checkbox" name="date[]" id="date-@i" value="@filterListDate[i]">
                            @filterListDate[i]
                        </label>
                    </div>
                }
                <hr>

                <h5>Notes</h5>
                @for(var i = 0; i < filterListNotes.Count;i++){

                    <div class="form-check form-check-inline">
                        <label class="form-check-label filter-menu-label">
                            <input @(filteredNotes.Contains(@filterListNotes[i]) ? "checked" : "") class="form-check-input" type="checkbox" name="notes[]" id="notes-@i" value="@filterListNotes[i]">
                            @filterListNotes[i]
                        </label>
                    </div>
                }
                <hr>

                <h5>Receipt</h5>
                @for(var i = 0; i < filterListReceipt.Count;i++){

                    <div class="form-check form-check-inline">
                        <label class="form-check-label filter-menu-label">
                            <input @(filteredReceipt.Contains(@filterListReceipt[i]) ? "checked" : "") class="form-check-input" type="checkbox" name="receipt[]" id="receipt-@i" value="@filterListReceipt[i]">
                            @filterListReceipt[i]
                        </label>
                    </div>
                }
                <hr>

                <h5>Amount</h5>
                @for(var i = 0; i < filterListAmount.Count;i++){

                    <div class="form-check form-check-inline">
                        <label class="form-check-label filter-menu-label">
                            <input @(filteredAmount.Contains(@filterListAmount[i]) ? "checked" : "") class="form-check-input" type="checkbox" name="amount[]" id="amount-@i" value="@filterListAmount[i]">
                            @filterListAmount[i]
                        </label>
                    </div>
                }
                <hr>

                <h5>Fund ID</h5>
                @for(var i = 0; i < filterListFundId.Count;i++){

                    <div class="form-check form-check-inline">
                        <label class="form-check-label filter-menu-label">
                            <input @(filteredFundId.Contains(@filterListFundId[i]) ? "checked" : "") class="form-check-input" type="checkbox" name="fundId[]" id="fundId-@i" value="@filterListFundId[i]">
                            @filterListFundId[i]
                        </label>
                    </div>
                }
                <hr>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

    </div>
}


</div>