@model TMFadmin.Models.RevenueManager
<div class="text-center" style="margin-top: 100px;">
    <h1 class="display-4">Contacts</h1>
    <table class="table table-hover table-striped" style="margin-top: 40px;">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name (Company/Individual)</th>
                <th scope="col">Phone</th>
                <th scope="col">Fax</th>
                <th scope="col">Email</th>
                <th scope="col">Activity</th>
                <th scope="col">Notes</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.alphaSponsorLname())
                {
                    <tr>
                        <td>@item.company</td>
                        <td>@item.phone</td>
                        <td>@item.fax</td>
                        <td>@item.email</td>
                        <td>@item.activity</td>
                        <td>@item.notes</td>
                        <td>
                            <form method="post">
                                <label class="ico-button"><i class="far fa-eye" style="font-size:20px;"></i><input type="submit" asp-controller="Home" asp-action="ViewSponsor" value="@item.sponsorId" name="mySponsorId" hidden></label>
                                <label class="ico-button"><i class="fas fa-pencil-alt" style="font-size:20px;"></i><input type="submit" asp-controller="Home" asp-action="EditSponsor" value="@item.sponsorId" name="mySponsorId" hidden></label>
                                <label class="ico-button"><i class="fas fa-trash-alt" style="font-size:20px;"></i><input type="submit" asp-controller="Home" asp-action="DeleteSponsor" value="@item.sponsorId" name="mySponsorId" hidden></label>
                            </form>
                            
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>